USE [MTX360]
GO
/****** Object:  Table [dbo].[coordenadas]    Script Date: 10/04/2024 16:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coordenadas](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[imagen] [varchar](100) NOT NULL,
	[piso] [int] NOT NULL,
	[coordenadas] [varchar](100) NOT NULL,
	[url] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flecha]    Script Date: 10/04/2024 16:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flecha](
	[id_flecha] [int] NOT NULL,
	[id_imagen] [int] NOT NULL,
	[nodeId] [int] NOT NULL,
	[posicion] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_flecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imagen]    Script Date: 10/04/2024 16:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagen](
	[id] [int] NOT NULL,
	[ruta] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[x] [int] NULL,
	[y] [int] NULL,
	[piso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/04/2024 16:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[coordenadas] ([id], [nombre], [imagen], [piso], [coordenadas], [url]) VALUES (2, N'Laboratorio de física', N'fisica.jpg', 0, N'307,65,367,151', 1)
INSERT [dbo].[coordenadas] ([id], [nombre], [imagen], [piso], [coordenadas], [url]) VALUES (3, N'Dept. Biología', N'biologia.jpg', 0, N'242,152,285,184', 2)
INSERT [dbo].[coordenadas] ([id], [nombre], [imagen], [piso], [coordenadas], [url]) VALUES (4, N'Dept. F&Q', N'FyQ.jpg', 0, N'307,151,367,188', 3)
GO
INSERT [dbo].[flecha] ([id_flecha], [id_imagen], [nodeId], [posicion]) VALUES (1, 69, 70, N'95deg')
INSERT [dbo].[flecha] ([id_flecha], [id_imagen], [nodeId], [posicion]) VALUES (2, 70, 69, N'280deg')
INSERT [dbo].[flecha] ([id_flecha], [id_imagen], [nodeId], [posicion]) VALUES (3, 70, 71, N'95deg')
GO
INSERT [dbo].[imagen] ([id], [ruta], [nombre], [x], [y], [piso]) VALUES (1, N'espartar.JPG', N'Espartar', 260, 110, 0)
INSERT [dbo].[imagen] ([id], [ruta], [nombre], [x], [y], [piso]) VALUES (2, N'fisica.JPG', N'Laboratorio de física', 336, 114, 0)
INSERT [dbo].[imagen] ([id], [ruta], [nombre], [x], [y], [piso]) VALUES (3, N'deptbiologia.JPG', N'Dept. Biología', 262, 168, 0)
GO
INSERT [dbo].[usuarios] ([Email], [Password]) VALUES (N'mael@gmail.com', N'1234')
GO
ALTER TABLE [dbo].[coordenadas]  WITH CHECK ADD FOREIGN KEY([url])
REFERENCES [dbo].[imagen] ([id])
GO
ALTER TABLE [dbo].[flecha]  WITH CHECK ADD FOREIGN KEY([id_imagen])
REFERENCES [dbo].[imagen] ([id])
GO
ALTER TABLE [dbo].[flecha]  WITH CHECK ADD FOREIGN KEY([nodeId])
REFERENCES [dbo].[imagen] ([id])
GO
/****** Object:  StoredProcedure [dbo].[Verificar]    Script Date: 10/04/2024 16:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Verificar]
    @name VARCHAR(255),
    @pass VARCHAR(255)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM usuarios WHERE Email = @name AND Password = @pass)
        SELECT @name AS Result
    ELSE
        SELECT NULL AS Result
END
GO
